<input type="checkbox" value="1" title="Habilita {{label}}" name="{{check_name}}" data-show="input[name='{{id}}']" class="{{class}} chk">
<label for="{{id}}" class="{{class}}">{{label}}:</label>
{% if val_min is defined and val_max is defined %}
  <input type="number" name="{{id}}" id="{{id}}" value="" min="{{val_min}}" max="{{val_max}}" class="{{class}}">
{% elif val_min is defined %}
  <input type="number" name="{{id}}" id="{{id}}" value="" min="{{val_min}}" class="{{class}}">
{% elif val_max is defined %}
  <input type="number" name="{{id}}" id="{{id}}" value="" max="{{val_max}}" class="{{class}}">
{% else %}
  <input type="number" name="{{id}}" id="{{id}}" value="" class="{{class}}">
{% endif %}
<br/>
