<form id="fSocialPrediccion" name="prediccion" action="{{API_ENDPOINT}}predecir" method="POST" data-resultado="Resultado Predicción" data-idprefix="social_prediccion_">
<input type="hidden" name="store_in" value="" class="store_in"/>
<h1 class="sidebar-header">
  Predicción de Incendios
  <span class="sidebar-expand" title="Ensanchar el panel"><i class="fa fa-angle-double-right"></i></span>
  <span class="sidebar-contract" title="Restaurar el ancho del panel"><i class="fa fa-angle-double-left"></i></span>
</h1>
  {% include 'common/social_param.html' %}
  <fieldset class="fTemporal">
    <legend>Rango temportal</legend>
      <label for="yBgn">Año de inicio para el modelo:</label> <input type="number" name="ini" id="yBgn" placeholder="2006" value="2006" min="2006" data-desplaza=".y_fin_modelo"><br/>
      <label for="yEnd">Año de fin para el modelo:</label>    <input type="number" name="fin" id="yEnd" placeholder="2015" value=""     min="2006"         class=" y_fin_modelo">
      <p class='egifWarning hide'></p>
  </fieldset>
  <fieldset class="fDetalle" id="fDetalle">
    <legend>Explicación detallada</legend>
      <input type="checkbox" name="detalle[]" id="importancia" value="importancia"> <label for="importancia" style="display: unset;">Devolver información adicional sobre la importancia de los parámetros en la predicción realizada. Esto puede incrementar el tiempo de calculo en varios minutos.</label><br/>
  </fieldset>
   <input type="submit" value="Calcular">
</form>
