<form
  id="fMeteoAnalisis"
  name="anual_pais"
  action="{{API_ENDPOINT}}analisis_o_predecir_anual"
  method="POST"
  data-resultado="Resultado Análisis"
  data-idprefix="meteo_anual_"
>

<h1 class="sidebar-header">
  <span>Predicción o análisis verano</span>
  <span class="sidebar-expand" title="Ensanchar el panel"><i class="fa fa-angle-double-right"></i></span>
  <span class="sidebar-contract" title="Restaurar el ancho del panel"><i class="fa fa-angle-double-left"></i></span>
</h1>

{% include 'snippet/zona.html' %}

{% include 'common/meteo_target.html' %}

<fieldset class="fLabelInput meteo_predictores">
  <legend>Predictores</legend>
  {% include 'common/meteo_param.html' %}
  <button type="button" name="set_meteo_param_val">Rellenar con datos del año pasado</button>
</fieldset>

<fieldset class="fOneField">
  <legend>Reg. Ridge (α)</legend>
  <label for="Ridge" class="hide">Reg. Ridge (α):</label><input type="number" id="Ridge" name="ridge" class="opcional"><br/>
  <span>(*) dejar vacio para que el servidor calcule y use el valor optimo.</span>
</fieldset>

<select id="predecir_o_analizar" data-hide="div.grupo_predecir_o_analizar fieldset, div.grupo_predecir_o_analizar > input, .egifWarning" class="fullwidth">
  <option/>
  <option data-show=".grupo_predecir">Predecir</option>
  <option data-show=".grupo_analizar">Analizar</option>
</select>

<div class="grupo_predecir_o_analizar">
<div class="meteo_modelo_years" data-count="fieldset:not(.hidebyinput)">
  <div class="grupo_predecir_o_analizar_fieldsets" data-count="fieldset:not(.hidebyinput)">
    <fieldset class="fOneField grupo_predecir grupo_analizar meteo_modelo_years">
      <legend>Años para crear el modelo</legend>
      <label for="rango_temporal" class="hide">Años para crear el modelo:</label>
      <select id="rango_temporal" name="rango_temporal[]" required multiple="multiple" class="fullsize">
          {% for y in range(1999, now.year) %}
            <option value="{{y}}">{{y}}</option>
          {% endfor %}
      </select>
    </fieldset>

    <fieldset class="fOneField grupo_analizar">
      <legend>Años para evaluar el modelo</legend>
      <label for="rango_temporal_evaluar" class="hide">Años para evaluar el modelo:</label>
      <select id="rango_temporal_evaluar" name="rango_temporal_evaluar[]" required multiple="multiple" class="rango_temporal_evaluar fullsize">
          {% for y in range(1999, now.year) %}
            <option value="{{y}}">{{y}}</option>
          {% endfor %}
      </select>
    </fieldset>
  </div>
  </div>

  <input class="grupo_predecir" type="submit" value="Predecir" formaction="{{API_ENDPOINT}}predicion_anual" data-opcional=".rango_temporal_evaluar">

  <input class="grupo_analizar" type="submit" value="Analizar" formaction="{{API_ENDPOINT}}analisis_anual" data-obligatorio=".rango_temporal_evaluar">
</div>

</form>
