<form id="fMeteoAnalisis" name="anual_pais" action="{{API_ENDPOINT}}anual_pais" method="POST" data-resultado="Resultado Análisis" data-idprefix="meteo_anual_">

<h1 class="sidebar-header">
  <span>Predicción o análisis anual</span>
  <span class="sidebar-expand" title="Ensanchar el panel"><i class="fa fa-angle-double-right"></i></span>
  <span class="sidebar-contract" title="Restaurar el ancho del panel"><i class="fa fa-angle-double-left"></i></span>
</h1>

<fieldset class="fOneField">
  <legend>Target</legend>
  <label for="Target" class="hide">Target:</label><select id="Target" name="target" required data-desmarcar=".anual_predictores input[type='checkbox']">
      <option/>
      <option value="0" data-marcar=".predic_super[type='checkbox']">Superficie quemada</option>
      <option value="1" data-marcar=".predic_incen[type='checkbox']">Número de incendios</option>
      <option value="2" data-marcar=".predic_super[type='checkbox'], .predic_incen[type='checkbox']">Ambos</option>
  </select>
</fieldset>

<fieldset class="fLabelInput anual_predictores">
  <legend>Predictores</legend>
  {% include 'common/meteo_param.html' %}
</fieldset>

<fieldset class="fOneField">
  <legend>Reg. Ridge (α)</legend>
  <label for="Ridge" class="hide">Reg. Ridge (α):</label><input type="number" id="Ridge" name="ridge">
</fieldset>

<fieldset class="fOneField">
  <legend>Años del modelo</legend>
  <label for="rango_temporal" class="hide">Años del modelo:</label>
  <select id="rango_temporal" name="rango_temporal[]" required multiple="multiple" data-opuesto=".rango_temporal_evaluar">
      {% for y in range(2006, now.year+1) %}
        <option value="{{y}}">{{y}}</option>
      {% endfor %}
  </select>
</fieldset>

<input data-defval="Predecir" type="submit" value="Predecir" formaction="{{API_ENDPOINT}}anual_pais_predecir" data-opcional=".rango_temporal_evaluar">

<hr/>


<fieldset class="fOneField">
  <legend>Años para evaluar</legend>
  <label for="rango_temporal_evaluar" class="hide">Años para evaluar:</label><select id="rango_temporal_evaluar" name="rango_temporal_evaluar[]" required multiple="multiple" class="rango_temporal_evaluar">
      {% for y in range(2006, now.year+1) %}
        <option value="{{y}}">{{y}}</option>
      {% endfor %}
  </select>
</fieldset>

<input data-defval="Analizar" type="submit" value="Analizar" formaction="{{API_ENDPOINT}}anual_pais_analizar" data-obligatorio=".rango_temporal_evaluar">

</form>
