<form
  id="fMeteoAnalisis"
  name="prediccion_semana_provincia"
  action="{{API_ENDPOINT}}prediccion_semana_provincia"
  method="POST"
  data-resultado="Resultado Análisis"
  data-idprefix="prediccion_semana_provincia_"
>

<h1 class="sidebar-header">
  <span>Predicción semanal-provincial</span>
  <span class="sidebar-expand" title="Ensanchar el panel"><i class="fa fa-angle-double-right"></i></span>
  <span class="sidebar-contract" title="Restaurar el ancho del panel"><i class="fa fa-angle-double-left"></i></span>
</h1>

<fieldset class="fOneField">
  <legend>Target</legend>
  <label for="Target" class="hide">Target:</label>
  <select id="Target" name="target" required style="width: 100%;" class="target_meteo">
      <option/>
      <option value="0">Superficie quemada</option>
      <option value="1">Número de incendios</option>
  </select>
</fieldset>

<fieldset>
  <legend>Ventana</legend>
  <label for="ventana_size">Tamaño ventana:</label>
  <input id="ventana_size" name="ventana_size" required type="number" min="0" max="4" value="3"><br/>
  <input id="incendios_previos" name="incendios_previos" type="checkbox" value="1"> <label for="incendios_previos">Considerar nº de incendios previos</label>
</fieldset>


<fieldset data-delete="input.chk, .lbCheck">
  <legend>Modificar predictores</legend>
  <p>
    <label for="zona">Provincia:</label>
    <select id="zona" data-hide=".meteo_predictores" class="opcional">
      <option/>
      {% for p in provincias %}
         <option value="{{p.ID}}" data-show=".predictores_{{p.ID}}">{{p.nombre}}</option>
      {% endfor %}
    </select>
  </p>
  {% for p in provincias %}
  <div class="fLabelInput meteo_predictores predictores_{{p.ID}} notDisabled opcional">
    {% include 'common/meteo_param.html' %}
  </div>
  {% endfor %}
  <p>
  (*) Para cada provincia se usarán los valores proporcionados por la aemet,
  a no ser que se sobreescriban usando este panel.
  </p>
</fieldset>

<fieldset>
  <legend>Simular</legend>
  <p>
    <label for="semana">Semana:</label>
    <input type="week" name="semana" id="semana" min="2018-W18" max="2018-W26" class="opcional" placeholder="2016-W23" pattern="[12][90][9012][0-9]-W[0-5][0-9]">
  </p>
  <p>
    Si rellena este campo, en vez de predecirse la semana actual, se simulara una
    <i>predicción</i> para la semana indicada y se comparará el resultado con
    lo que ocurreo en realidad.
  </p>
</fieldset>

<input type="submit" value="Predecir">

</form>
