<form
  id="fMeteoCrearModeloSemanaProvincia"
  name="crear_modelo_semana_provincia"
  action="{{API_ENDPOINT}}analisis_semana_provincia"
  method="POST"
  data-resultado="Resultado Análisis"
  data-idprefix="crear_modelo_semana_provincia_"
  data-delete="option.target_ambos"
>

<h1 class="sidebar-header">
  <span>Análisis semanal-provincial</span>
  <span class="sidebar-expand" title="Ensanchar el panel"><i class="fa fa-angle-double-right"></i></span>
  <span class="sidebar-contract" title="Restaurar el ancho del panel"><i class="fa fa-angle-double-left"></i></span>
</h1>

{% include 'snippet/zona.html' %}

<fieldset>
  <legend>Ventana</legend>
  <label for="ventana_size">Tamaño de ventana:</label>
  <input id="ventana_size" name="ventana_size" required type="number" min="0" max="4" value="3"><br/>
  <input id="incendios_previos" name="incendios_previos" type="checkbox" value="1"> <label for="incendios_previos">Considerar nº de incendios previos</label>
</fieldset>

{% include 'common/meteo_target.html' %}

<fieldset class="fLabelInput meteo_predictores" style="margin-bottom:16px;">
  <legend>Predictores</legend>
  {% include 'common/meteo_param_temporalidad.html' %}
</fieldset>



<div class="grupo_predecir_o_analizar">
<div class="meteo_modelo_years items_2">
  <div class="grupo_predecir_o_analizar_fieldsets items_2">
    <fieldset class="fOneField grupo_predecir grupo_analizar meteo_modelo_years">
      <legend>Años para crear el modelo</legend>
      <label for="rango_temporal" class="hide">Años para crear el modelo:</label>
      <select id="rango_temporal" name="rango_temporal[]" required multiple="multiple" class="fullsize">
          {% for y in range(1999, now.year) %}
            <option value="{{y}}">{{y}}</option>
          {% endfor %}
      </select>
    </fieldset>

    <fieldset class="fOneField grupo_analizar">
      <legend>Años para evaluar el modelo</legend>
      <label for="rango_temporal_evaluar" class="hide">Años para evaluar el modelo:</label>
      <select id="rango_temporal_evaluar" name="rango_temporal_evaluar[]" required multiple="multiple" class="rango_temporal_evaluar fullsize">
          {% for y in range(1999, now.year) %}
            <option value="{{y}}">{{y}}</option>
          {% endfor %}
      </select>
    </fieldset>
  </div>
  </div>
</div>


<input type="submit" value="Analizar">

</form>
