<form
  id="fAereo"
  name="aereo"
  action="{{enpoints.p2}}analisis_o_predecir_aereo"
  method="POST"
  data-resultado="Resultado Análisis"
  data-idprefix="aereo_"
>

<h1 class="sidebar-header">
  <span>Predicción o análisis medios aéreos</span>
  <span class="sidebar-expand" title="Ensanchar el panel"><i class="fa fa-angle-double-right"></i></span>
  <span class="sidebar-contract" title="Restaurar el ancho del panel"><i class="fa fa-angle-double-left"></i></span>
</h1>

{% include 'snippet/comunidades.html' %}

{% include 'common/aereo_target.html' %}

<select name="predecir_o_analizar" id="predecir_o_analizar" class="fullwidth">
  <option/>
  <option data-show=".grupo_predecir" value="p">Predecir</option>
  <option data-show=".grupo_analizar" value="a">Analizar</option>
</select>

<fieldset class="grupo_predecir onlyMe">
  <legend>Modificar predictores</legend>
  <p>
    <label for="predictor_zona">Comunidad:</label>
    <select id="predictor_zona" data-hide=".meteo_predictores" class="opcional predictor_zona">
      <option/>
      {% for p in comunidades %}
         <option value="{{p.ID}}" data-show=".predictores_{{p.ID}}">{{p.nombre}}</option>
      {% endfor %}
    </select>
  </p>
  {% for p in comunidades %}
  <div class="fLabelInput meteo_predictores predictores_{{p.ID}} notDisabled opcional"
       data-idprefix="prov_{{p.ID}}_"
       data-nameprefix="dict_prediccionsemanal_{{p.ID}}_"
  >
  {# prec, racha, tmax, tmin, velmedia #}
    <table>
      <thead>
        <tr>
          <th rowspan="2">Predictor</th>
          <th colspan="3">Día</th>
          <th rowspan="2"><abbr title="Unidades">U</abbr></th>
        </tr>
        <tr>
          <th>1</th>
          <th>2</th>
          <th>3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Precipitaciones</th>
          <td><input type="number" value="" required=""></td>
          <td><input type="number" value="" required=""></td>
          <td><input type="number" value="" required=""></td>
          <td>mm</td>
        </tr>
        <tr>
          <th><abbr title="Temperatura">Temp.</abbr> máxima</th>
          <td><input type="number" value="" required=""></td>
          <td><input type="number" value="" required=""></td>
          <td><input type="number" value="" required=""></td>
          <td>°C</td>
        </tr>
        <tr>
          <th><abbr title="Temperatura">Temp.</abbr> mínima</th>
          <td><input type="number" value="" required=""></td>
          <td><input type="number" value="" required=""></td>
          <td><input type="number" value="" required=""></td>
          <td>°C</td>
        </tr>
        <tr>
          <th>Viento</th>
          <td><input type="number" value="" required=""></td>
          <td><input type="number" value="" required=""></td>
          <td><input type="number" value="" required=""></td>
          <td>m/s</td>
        </tr>
        <tr>
          <th>Racha de viento</th>
          <td><input type="number" value="" required=""></td>
          <td><input type="number" value="" required=""></td>
          <td><input type="number" value="" required=""></td>
          <td>m/s</td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="set_meteo_param_val_prediccion_semanal">Rellenar con datos de la aemet</button>
  </div>
  {% endfor %}
  <p>
  (*) Para cada comunidad se utilizarán los valores proporcionados por la
  <span class="datos_aemet_prediccion_diaria">Aemet</span>,
  a no ser que se sobreescriban mediante este panel.
  </p>
</fieldset>

<fieldset class="grupo_analizar onlyMe fEntrenamiento">
  <legend>Entrenamiento</legend>
    <label for="prBng">de</label>    <input name="ini" type="number" min="2006" step="1" id="prBng" placeholder="2006" value="2006" class="prBng" data-desplaza=".personaliza_hasta"><br/>
    <label for="prEnd">hasta</label> <input name="fin" type="number" min="2006" step="1" id="prEnd" placeholder="2010" value="2010"                       class=" personaliza_hasta prEnd" data-desplaza=".personaliza_test"><br/>
    <p>El test se hará con los datos posteriores al intervalo de entrenamiento.</p>
  <p class='egifWarning hide'></p>
</fieldset>

<input class="grupo_predecir" type="submit" value="Predecir" formaction="{{enpoints.p2}}prediccion_aereo">

<input class="grupo_analizar" type="submit" value="Analizar" formaction="{{enpoints.p2}}analisis_aereo">


</form>
