<form
  id="fAereoPrediccion"
  name="aereo_predicion"
  action="{{enpoints.p2}}aereo_predicion"
  method="POST"
  data-resultado="Resultado Predicción"
  data-idprefix="aereo_predicion_"
>

<h1 class="sidebar-header">
  <span>Predicción medios aéreos</span>
  <span class="sidebar-expand" title="Ensanchar el panel"><i class="fa fa-angle-double-right"></i></span>
  <span class="sidebar-contract" title="Restaurar el ancho del panel"><i class="fa fa-angle-double-left"></i></span>
</h1>

{% include 'snippet/comunidades.html' %}

{% include 'common/aereo_target.html' %}


<input type="submit" value="Predicción">

</form>
