<fieldset>
  <legend>Target</legend>
  <label for="Target" class="hide">Target:</label>
  <select id="Target" name="target" required data-desmarcar=".meteo_predictores input.chk[type='checkbox']" style="width: 100%;" data-marca-if=".set_meteo_param" class="target_meteo">
      <option/>
      <option value="0" data-marcar=".predic_super.chk[type='checkbox']">Superficie quemada</option>
      <option value="1" data-marcar=".predic_incen.chk[type='checkbox']">Número de incendios</option>
      <option value="2" data-marcar=".predic_super.chk[type='checkbox'], .predic_incen.chk[type='checkbox']">Ambos</option>
  </select>
  <input type="checkbox" name="set_meteo_param" id="set_meteo_param" value="1" class="set_meteo_param" data-fire-change=".target_meteo" data-hide=".meteo_predictores input.chk[type='checkbox']">
  <label for="set_meteo_param">Usar <u>solo</u> predictores óptimos para el target seleccionado</label>
</fieldset>
