<div class="greyinhide">
{% with check_name='check_meteo_param' %}
{% with id='tepri', label='Temperatura de la primavera' %} {% include 'snippet/check_label_number.html' %}{% endwith %}
{% with id='temax', label='Temperatura máxima' %}          {% include 'snippet/check_label_number.html' %}{% endwith %}
{% with id='tevar', label='Variación de temperatura' %}    {% include 'snippet/check_label_number.html' %}{% endwith %}
{% with id='vevie', label='Viento' %}                      {% include 'snippet/check_label_number.html' %}{% endwith %}
{% with id='ravie', label='Racha de viento' %}             {% include 'snippet/check_label_number.html' %}{% endwith %}
{% with id='prmax', label='Presión atmosférica máxima' %}  {% include 'snippet/check_label_number.html' %}{% endwith %}
{% with id='prmin', label='Presión atmosférica mínima' %}  {% include 'snippet/check_label_number.html' %}{% endwith %}
{% with id='hurel', label='Humedad relativa' %}            {% include 'snippet/check_label_number.html' %}{% endwith %}
{% with id='hrsol', label='Horas de sol' %}                {% include 'snippet/check_label_number.html' %}{% endwith %}
{% with id='prmed', label='Precipitaciones' %}             {% include 'snippet/check_label_number.html' %}{% endwith %}
{% endwith %}
</div>
