<div class="greyinhide">
{% with check_name='check_meteo_param' %}
{% with label='Temperatura de la primavera',   unidad='°C', min='-90', max='75',
step='0.000001', width='7', id='tepri', class='predic_incen'                 %}{% include 'snippet/check_label_number.html' %}{% endwith %}

{% with label='Precipitación de la primavera', unidad='mm', min='0',  max='400',
step='0.000001', width='7', id='prpri', class='predic_super'                 %}{% include 'snippet/check_label_number.html' %}{% endwith %}

{% with label='Temperatura máxima',            unidad='°C', min='-15', max='75',
step='0.000001', width='7', id='temax', class='predic_super predic_incen'    %}{% include 'snippet/check_label_number.html' %}{% endwith %}

{% with label='Temperatura media',             unidad='°C', min='-15', max='75',
step='0.000001', width='7', id='temed', class=''                             %}{% include 'snippet/check_label_number.html' %}{% endwith %}

{% with label='Variación de temperatura',      unidad='°C', min='-15', max='75',
step='0.000001', width='7', id='tevar', class=''                             %}{% include 'snippet/check_label_number.html' %}{% endwith %}

{% with label='Viento',                        unidad='m/s', min='0',
step='0.000001', width='7', id='vevie', class='predic_super'                 %}{% include 'snippet/check_label_number.html' %}{% endwith %}

{% with label='Racha de viento',               unidad='m/s', min='0',
step='0.000001', width='7', id='ravie', class='predic_super'                 %}{% include 'snippet/check_label_number.html' %}{% endwith %}

{% with label='Presión atmosférica máxima',    unidad='hPa', min='0',
step='0.000001', width='7', id='prmax', class=''                             %}{% include 'snippet/check_label_number.html' %}{% endwith %}

{% with label='Presión atmosférica mínima',    unidad='hPa', min='0',
step='0.000001', width='7', id='prmin', class='predic_super predic_incen'    %}{% include 'snippet/check_label_number.html' %}{% endwith %}

{% with label='Humedad relativa',              unidad='%', min='0',  max='100',
step='0.000001', width='7', id='hurel', class='predic_super predic_incen'    %}{% include 'snippet/check_label_number.html' %}{% endwith %}

{% with label='Horas de sol',                  unidad='h', min='0',  max='24',
step='0.000001', width='7', id='hrsol', class=''                             %}{% include 'snippet/check_label_number.html' %}{% endwith %}

{% with label='Precipitaciones',               unidad='mm', min='0',  max='400',
step='0.000001', width='7', id='prmed', class='predic_incen'                 %}{% include 'snippet/check_label_number.html' %}{% endwith %}
{% endwith %}
</div>
