<div class="greyinhide">
{% with check_name='check_meteo_param' %}

{% with label='Temperatura de la primavera',   solo_un_check='1',
id='prim_tmed', class='predic_super predic_incen'                 %}{% include 'snippet/check_label_check.html' %}{% endwith %}

{% with label='Precipitación de la primavera', solo_un_check='1',
id='prin_prec', class='predic_super predic_incen'                 %}{% include 'snippet/check_label_check.html' %}{% endwith %}

{% with label='Temperatura máxima',
id='temp_maxi', class='predic_super predic_incen'                 %}{% include 'snippet/check_label_check.html' %}{% endwith %}

{% with label='Temperatura mínima',
id='temp_mini', class='predic_super predic_incen'                 %}{% include 'snippet/check_label_check.html' %}{% endwith %}

{% with label='Variación de <abbr title="temperatura minima">temp. min.</abbr>',
id='tmin_vari', class='predic_super predic_incen'                 %}{% include 'snippet/check_label_check.html' %}{% endwith %}

{% with label='Viento',
id='vien_velm', class='predic_super predic_incen'                 %}{% include 'snippet/check_label_check.html' %}{% endwith %}

{% with label='Racha de viento',
id='vien_rach', class='predic_super predic_incen'                 %}{% include 'snippet/check_label_check.html' %}{% endwith %}

{% with label='Precipitaciones',
id='prec_medi', class='predic_super predic_incen'                 %}{% include 'snippet/check_label_check.html' %}{% endwith %}

{% endwith %}
</div>
