<div class="greyinhide">
{% with check_name='check_meteo_param' %}
{% with label='Temperatura de la primavera',   unidad='°C', val_min='-90', val_max='75',
step='0.01', id='prim_tmed', class='predic_incen'                 %}{% include 'snippet/check_label_number.html' %}{% endwith %}

{% with label='Precipitación de la primavera', unidad='mm', val_min='0',  val_max='400',
step='0.01', id='prin_prec', class='predic_super'                 %}{% include 'snippet/check_label_number.html' %}{% endwith %}

{% with label='Temperatura máxima',            unidad='°C', val_min='-15', val_max='75',
step='0.01', id='temp_maxi', class='predic_super predic_incen'    %}{% include 'snippet/check_label_number.html' %}{% endwith %}

{% with label='Temperatura media',             unidad='°C', val_min='-15', val_max='75',
step='0.01', id='temp_medi', class=''                             %}{% include 'snippet/check_label_number.html' %}{% endwith %}

{% with label='Variación de <abbr title="temperatura media">temp. med.</abbr>',      unidad='°C', val_min='-15', val_max='75',
step='0.01', id='temp_vari', class=''                             %}{% include 'snippet/check_label_number.html' %}{% endwith %}

{% with label='Viento',                        unidad='m/s', val_min='0',
step='0.01', id='vien_velm', class='predic_super'                 %}{% include 'snippet/check_label_number.html' %}{% endwith %}

{% with label='Racha de viento',               unidad='m/s', val_min='0',
step='0.01', id='vien_rach', class='predic_super'                 %}{% include 'snippet/check_label_number.html' %}{% endwith %}

{% with label='Presión atmosférica máxima',    unidad='hPa', val_min='0',
step='0.01', id='pres_maxi', class=''                             %}{% include 'snippet/check_label_number.html' %}{% endwith %}

{% with label='Presión atmosférica mínima',    unidad='hPa', val_min='0',
step='0.01', id='pres_mini', class='predic_super predic_incen'    %}{% include 'snippet/check_label_number.html' %}{% endwith %}

{% with label='Humedad relativa',              unidad='%',   val_min='0',  val_max='100',
step='0.01', id='hume_rela', class='predic_super predic_incen'    %}{% include 'snippet/check_label_number.html' %}{% endwith %}

{% with label='Horas de sol',                  unidad='h',   val_min='0',  val_max='24',
step='0.01', id='hora_sol', class=''                             %}{% include 'snippet/check_label_number.html' %}{% endwith %}

{% with label='Precipitaciones',               unidad='mm', val_min='0',  val_max='400',
step='0.01', id='prec_medi', class='predic_incen'                 %}{% include 'snippet/check_label_number.html' %}{% endwith %}
{% endwith %}
</div>
