<div class="greyinhide">
{% with check_name='check_meteo_param' %}

{% with label='Temperatura de la primavera',
id='tepri', class='predic_incen'                 %}{% include 'snippet/check_label_check.html' %}{% endwith %}

{% with label='Precipitación de la primavera',
id='prpri', class='predic_super'                 %}{% include 'snippet/check_label_check.html' %}{% endwith %}

{% with label='Temperatura máxima',
id='temax', class='predic_super predic_incen'    %}{% include 'snippet/check_label_check.html' %}{% endwith %}

{% with label='Temperatura mínima',
id='temin', class=''                             %}{% include 'snippet/check_label_check.html' %}{% endwith %}

{% with label='Variación de <abbr title="temperatura minima">temp. min.</abbr>',
id='tminvar', class=''                           %}{% include 'snippet/check_label_check.html' %}{% endwith %}

{% with label='Viento',
id='vevie', class='predic_super'                 %}{% include 'snippet/check_label_check.html' %}{% endwith %}

{% with label='Racha de viento',
id='ravie', class='predic_super'                 %}{% include 'snippet/check_label_check.html' %}{% endwith %}

{% with label='Precipitaciones',
id='prmed', class='predic_incen'                 %}{% include 'snippet/check_label_check.html' %}{% endwith %}

{% endwith %}
</div>
