<!DOCTYPE html>
<html lang="es">
<head>
  <base target="_blank" />
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="180x180" href="ico/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="ico/favicon-16x16.png">
  <link rel="manifest" href="ico/site.webmanifest">
  <link rel="mask-icon" href="ico/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="ico/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="ico/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <title>Incendios - Influencia de datos socioeconómicos en el riesgo de incendios</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  {% for c in css %}
    <link href="{{c}}" rel="stylesheet" data-autoinsert="true"/>
  {% endfor %}
  <link crossorigin="" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" rel="stylesheet" />
  <script crossorigin="" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
  <link href="sidebar/leaflet-sidebar.css" rel="stylesheet" />
  <script src="sidebar/leaflet-sidebar.js"></script>

  <script src="geo/provincias.js"></script>
  <script src="geo/municipios.js"></script>

  {% for j in javascript %}
    <script src="{{j}}" data-autoinsert="true"></script>
  {% endfor %}

</head>

<body>
  <header>
  	<h1 align="center">Incendios</h1>
  </header>

	<div id="sidebar" class="sidebar collapsed">
    <!-- Nav tabs -->
    <div class="sidebar-tabs">
      <ul role="tablist">
        <li title="Información"><a href="#info" role="tab"><i class="fa fa-info-circle"></i></a></li>
      </ul>
      <ul role="tablist" class="tGroup tSocial">
        <li title="Datos socioeconómicos" class="disabled tGroup"><a href="#" role="tab"><i class="fas fa-users"></i></a></li>
        <li title="Predicción de Incendios a Escala Municipal"><a href="#prediccion" role="tab"><i class="fas fa-fire-extinguisher"></i></a></li>
        <li title="Análisis de Incendios a Escala Municipal"><a href="#analisis" role="tab"><i class="fas fa-calculator"></i></a></li>
      </ul>
      <ul role="tablist" class="tGroup tMeteo">
        <li title="Campaña de verano" class="disabled tGroup"><a href="#" role="tab"><i class="fas fa-sun"></i></a></li>
        <li title="Predicción o análisis de superficie quemada y número de incendios"><a href="#anual-pais" role="tab"><i class="fas fa-calendar"></i></a></li>
        <li title="Crear modelo a nivel semanal-provincial"><a href="#crear-modelo-semana-provincia" role="tab"><i class="fas fa-calendar-week"></i></a></li>

        {#
        <li title="Predicción semanal-provincial de superficie quemada y número de incendios"><a href="#predicion-semana-provincia" role="tab"><i class="fas fa-calendar-week"></i></a></li>
        <li title="Análisis de impacto de meteorología y territorio en la ocurrencia de incendios y en la superficie quemada a nivel semanal-provincial"><a href="#analisis-semana-provincia" role="tab"><i class="fas fa-calculator"></i></a></li>
        #}
      </ul>
      <ul role="tablist">
        <li id="iResultado" class="hide" title="Resultado"><a href="#resultado" id="clear" role="tab" target="_blank"><i class="fas fa-coffee"></i></a></li>
        <li id="limpiar" class="hide" title="Limpia el mapa"><a href="" id="clear" role="tab" target="_blank"><i class="fas fa-eraser"></i></a></li>
      </ul>
    </div>
    <!-- Tab panes -->
    <div class="sidebar-content">
      <div class="sidebar-pane" id="resultado">
        <h1 class="sidebar-header">
          <span id="tResultado" data-default="Resultado">Resultado</span>
          <span class="sidebar-expand" title="Ensanchar el panel"><i class="fa fa-angle-double-right"></i></span>
          <span class="sidebar-contract" title="Restaurar el ancho del panel"><i class="fa fa-angle-double-left"></i></span>
        </h1>
        <div id="loading" class="loading-wrapp hide">
            <div class="plate">
            <div class="inner">
                <div class="fill"></div>
            </div>
            </div>
            <div class="ld_footer"></div>
        </div>
        <div class="content">

        </div>
      </div>

      <div class="sidebar-pane" id="info">
        {% include 'tabs/01-info.html' %}
      </div>
      <div class="sidebar-pane" id="prediccion">
        {% include 'tabs/11-social-prediccion.html' %}
      </div>
      <div class="sidebar-pane" id="analisis">
        {% include 'tabs/12-social-analisis.html' %}
      </div>

      <div class="sidebar-pane" id="anual-pais">
        {% include 'tabs/21-meteo-anual.html' %}
      </div>

      <div class="sidebar-pane" id="crear-modelo-semana-provincia">
        {% include 'tabs/22-crear-modelo-semana-provincia.html' %}
      </div>

      {#
      <div class="sidebar-pane" id="predicion-semana-provincia">
        {% include 'tabs/22-meteo-semanal-prediccion.html' %}
      </div>
      <div class="sidebar-pane" id="analisis-semana-provincia">
        {% include 'tabs/23-meteo-semanal-analisis.html' %}
      </div>
      #}

    </div>
  </div>
  <div id="popup" class="hide">
      <div>
      </div>
     <button type="button" class="cerrar">Cerrar</button>
  </div>
  <div id="map" class="sidebar-map"></div>
</body>

</html>
