
  <label for="Tepri">Temperatura de la primavera:</label>     <input type="number" name="tepri" id="Tepri" value=""><br/>
  <label for="Prpri">Precipitaciones de la primavera:</label> <input type="number" name="prpri" id="Prpri" value=""><br/>
  <label for="Temax">Temperatura máxima:</label>              <input type="number" name="temax" id="Temax" value=""><br/>
  <label for="Tevar">Variación de temperatura:</label>        <input type="number" name="tevar" id="Tevar" value=""><br/>
  <label for="Vevie">Viento:</label>                          <input type="number" name="vevie" id="Vevie" value=""><br/>
  <label for="Ravie">Racha de viento:</label>                 <input type="number" name="ravie" id="Ravie" value=""><br/>
  <label for="Prmax">Presión atmosférica máxima:</label>      <input type="number" name="prmax" id="Prmax" value=""><br/>
  <label for="Prmin">Presión atmosférica mínima:</label>      <input type="number" name="prmin" id="Prmin" value=""><br/>
  <label for="Hurel">Humedad relativa:</label>                <input type="number" name="hurel" id="Hurel" value=""><br/>
  <label for="Hrsol">Horas de sol:</label>                    <input type="number" name="hrsol" id="Hrsol" value=""><br/>
  <label for="Prmed">Precipitaciones:</label>                 <input type="number" name="prmed" id="Prmed" value="">
